<!-- Modal Adicionar Cliente-->
<div class="modal fade" id="clienteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="modalClientContent">
            <div class="modal-header">
                <h5 class="modal-title">
                    Add Cliente
                </h5>
                <button type="button" 
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="clienteForm">
                    {% csrf_token %}
                    {{ form_cliente.as_p }}
                    <button type="submit"
                            class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).on("submit", "#clienteForm", function(e){
        e.preventDefault();

        $.ajax({

            url: "{% url 'add_cliente' %}",
            method: "POST",
            data: $(this).serialize(),
            success: function(response){
                // fehar o modal do cliente
                $("#clienteModal").modal("hide");
                // setar cliente no form pesquisa cpf da tela de agendamento
                $("#cpfInput").val(response.cpf);
                // Faz o click no formulario de pesquisa
                $('#searchCpfBtn').trigger('click');
            },
            error : function(xhr){
                alert("Erro: " + xhr.responseJSON.errors);
            }

        });
    });


</script>